<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="style.css" />
  <title>URL shortner</title>
</head>

<body>

  <%- include('nav.ejs',{user:null}) %>

    <div class="generate-link">
      <% if (error) { %>
        <p class="error">*<%= error %>
        </p>
        <% } %>
          <form action="/url" method="POST">
            <input type="text" name="fullurl" id="fullurl" class="input">
            <button type="submit" class="generate-btn">GO</button>
          </form>
    </div>

    <% urls.forEach((shortUrl, index)=> { %>
      <div class="link-card">
        <h2><a href="<%= shortUrl.full %>" class="full-link">
            <%= shortUrl.full %>
          </a></h2>
        <h4 class="short-link">Short Link: <a href="/url/<%= shortUrl.short %>">
            <%= host + '/' + shortUrl.short %>
          </a></h4>
        <p class="clicks">Clicks: <span>
            <%= shortUrl.clicks %>
          </span></p>
        <form action="/url/<%= shortUrl._id %>?_method=DELETE" method="post" class="del-form">
          <button class="delete-button" type="submit">Delete</button>
        </form>
      </div>
      <% }) %>




        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script>
          document.addEventListener('DOMContentLoaded', () => {
            const urlParams = new URLSearchParams(window.location.search);
            const loginStatus = urlParams.get('login');
            const signupStatus = urlParams.get('signup')
            if (loginStatus === 'success') {
              // Display the success Swal notification
              const Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,
                didOpen: (toast) => {
                  toast.addEventListener('mouseenter', Swal.stopTimer)
                  toast.addEventListener('mouseleave', Swal.resumeTimer)
                }
              })

              Toast.fire({
                icon: 'success',
                title: 'login successfull'
              })
            } else if (signupStatus == 'success') {
              const Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,
                didOpen: (toast) => {
                  toast.addEventListener('mouseenter', Swal.stopTimer)
                  toast.addEventListener('mouseleave', Swal.resumeTimer)
                }
              })

              Toast.fire({
                icon: 'success',
                title: 'Registration successfull'
              })
            }
          });

        </script>
</body>

</html>